In [1]:
import numpy as np
import pandas as pd

In [2]:
# load dataset
data = pd.read_csv('Kyphosis.csv')

In [3]:
# see first 5 values from dataset
data.head()

  Kyphosis  Age  Number  Start
0   absent   71       3      5
1   absent  158       3     14
2  present  128       4      5
3   absent    2       5      1
4   absent    1       4     15

In [4]:
# shape of the dataset(number of rows and columns)
data.shape

(81, 4)

In [5]:
# dataset details
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Kyphosis  81 non-null     object
 1   Age       81 non-null     int64
 2   Number    81 non-null     int64
 3   Start     81 non-null     int64
dtypes: int64(3), object(1)
memory usage: 2.7+ KB

In [6]:
# drop a column using dataset
x = data.drop('Kyphosis', axis=1)

In [7]:
x.head()

   Age  Number  Start
0   71       3      5
1  158       3     14
2  128       4      5
3    2       5      1
4    1       4     15

In [8]:
# see a single column from dataset
y = data['Kyphosis']
y.head()

0     absent
1     absent
2    present
3     absent
4     absent
Name: Kyphosis, dtype: object

In [9]:
# divide dataset into training and testing set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [10]:
# training set shape(number of rows and columns)
x_train.shape

(56, 3)

In [11]:
# testing set shape(number of rows and columns)
x_test.shape

(25, 3)

## Decision tree

In [ ]:
# build a decision tree model and train it
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(x_train, y_train)

In [ ]:
pred = model.predict(x_test)
pred

In [ ]:
y_test

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred)

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, pred)

## Random forest

In [12]:
# build a random forest model and train it
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=50)
model.fit(x_train, y_train)

RandomForestClassifier(n_estimators=50)

In [13]:
pred = model.predict(x_test)
pred

array(['absent', 'absent', 'absent', 'absent', 'absent', 'absent',
       'absent', 'absent', 'absent', 'absent', 'absent', 'absent',
       'present', 'absent', 'present', 'absent', 'absent', 'absent',
       'absent', 'absent', 'absent', 'absent', 'absent', 'absent',
       'absent'], dtype=object)

In [14]:
y_test

34     absent
54     absent
20     absent
76    present
55     absent
62     absent
49     absent
46     absent
48    present
35     absent
17     absent
3      absent
79    present
6      absent
2     present
11     absent
59     absent
78     absent
10    present
15     absent
51     absent
18     absent
73     absent
30     absent
14     absent
Name: Kyphosis, dtype: object

In [15]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred)

0.88

In [16]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, pred)

array([[20,  0],
       [ 3,  2]], dtype=int64)

In [19]:
data['Kyphosis'].value_counts()

absent     64
present    17
Name: Kyphosis, dtype: int64